{
  "openapi": "3.0.0",
  "info": {
    "title": "UFA API",
    "description": "API for accessing Ultimate Frisbee Association statistics and data",
    "version": "1.0.0",
    "contact": {
      "name": "UFA Stats",
      "url": "https://www.ufastats.com"
    }
  },
  "servers": [
    {
      "url": "https://www.backend.ufastats.com/api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/teams": {
      "get": {
        "summary": "Get a list of teams",
        "description": "Returns a list of teams with their details",
        "responses": {
          "200": {
            "description": "A list of teams",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamList"
                }
              }
            }
          }
        }
      }
    },
    "/players": {
      "get": {
        "summary": "Get a list of players",
        "description": "Returns a list of players with their first name, last name, and teams",
        "parameters": [
          {
            "name": "years",
            "in": "query",
            "description": "A comma-delimited list of four digit years. Set to \"all\" to include all years.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2019,2020,2021"
          },
          {
            "name": "teamIDs",
            "in": "query",
            "description": "A comma-delimited list of team IDs",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "aviators,growlers"
          },
          {
            "name": "playerIDs",
            "in": "query",
            "description": "A comma-delimited list of player IDs",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "aweaver,bjagt"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of players",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerList"
                }
              }
            }
          }
        }
      }
    },
    "/games": {
      "get": {
        "summary": "Get a list of games",
        "description": "Returns a list of games with their home team, away team, start time, scores, and status",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "An inclusive date range. The full format is YYYY-MM-DD:YYYY-MM-DD, but you can exclude months or days and it will infer them.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "dateRange": {
                "value": "2021-06:2021-07",
                "summary": "All games during June or July"
              },
              "year": {
                "value": "2021",
                "summary": "All games during 2021"
              },
              "afterDate": {
                "value": "2021-07-10:",
                "summary": "All games on or after July 10th, 2021"
              },
              "beforeDate": {
                "value": ":2012-05",
                "summary": "All games during or before May, 2012"
              }
            }
          },
          {
            "name": "gameIDs",
            "in": "query",
            "description": "A comma-delimited list of game IDs",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2022-04-29-SLC-SD,2022-05-01-DAL-AUS"
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "A comma-delimited list of statuses. Options are Upcoming, Live, and Final.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Upcoming,Live"
          },
          {
            "name": "teamIDs",
            "in": "query",
            "description": "A comma-delimited list of team IDs. The team can be either home or away.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "shred,growlers"
          },
          {
            "name": "weeks",
            "in": "query",
            "description": "A comma-delimited list of weeks",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "week-1,week-2"
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "A timestamp to retrieve recently updated games. Ideal format is ISO 8601 in UTC.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "examples": {
              "example1": {
                "value": "2020-03-16T14:59:15Z"
              },
              "example2": {
                "value": "2019-11-22T01:03:59.264Z"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of games",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameList"
                }
              }
            }
          }
        }
      }
    },
    "/gameEvents": {
      "get": {
        "summary": "Get events for a game",
        "description": "Returns the events of a game as recorded by the home and away team",
        "parameters": [
          {
            "name": "gameID",
            "in": "query",
            "description": "The game ID to query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-04-29-SLC-SD"
          }
        ],
        "responses": {
          "200": {
            "description": "Game events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameEvents"
                }
              }
            }
          }
        }
      }
    },
    "/playerGameStats": {
      "get": {
        "summary": "Get player stats for a game",
        "description": "Returns a list of players in a game with their stats in raw form",
        "parameters": [
          {
            "name": "gameID",
            "in": "query",
            "description": "The game ID to query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-04-29-SLC-SD"
          }
        ],
        "responses": {
          "200": {
            "description": "Player game stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerGameStatsList"
                }
              }
            }
          }
        }
      }
    },
    "/playerStats": {
      "get": {
        "summary": "Get cumulative player stats for a year",
        "description": "Returns the cumulative stats for an entire year. The stats retrieved is the sum of each of the stats retrieved from the Player Game Stats endpoint.",
        "parameters": [
          {
            "name": "playerIDs",
            "in": "query",
            "description": "The player IDs to query. There is a limit of 100 players in a single request.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "aweaver,bjagt"
          },
          {
            "name": "years",
            "in": "query",
            "description": "The years to retrieve. If excluded, all years are returned.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2019,2020,2021"
          }
        ],
        "responses": {
          "200": {
            "description": "Player stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerStatsList"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TeamList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Team"
            }
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "division": {
            "type": "object",
            "properties": {
              "divisionID": {
                "type": "string",
                "description": "The ID of the team's division"
              },
              "name": {
                "type": "string",
                "description": "The name of the team's division"
              }
            }
          },
          "city": {
            "type": "string",
            "description": "The team's current city"
          },
          "name": {
            "type": "string",
            "description": "The team's name"
          },
          "fullName": {
            "type": "string",
            "description": "The team's full name used when space is available"
          },
          "abbrev": {
            "type": "string",
            "description": "The team's two or three letter abbreviation"
          },
          "wins": {
            "type": "integer",
            "description": "The team's number of wins"
          },
          "losses": {
            "type": "integer",
            "description": "The team's number of losses"
          },
          "ties": {
            "type": "integer",
            "description": "The team's number of ties"
          },
          "standing": {
            "type": "integer",
            "description": "The team's current standing"
          }
        }
      },
      "PlayerList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Player"
            }
          }
        }
      },
      "Player": {
        "type": "object",
        "properties": {
          "playerID": {
            "type": "string",
            "description": "The player's ID"
          },
          "firstName": {
            "type": "string",
            "description": "The player's first name"
          },
          "lastName": {
            "type": "string",
            "description": "The player's last name"
          },
          "teams": {
            "type": "array",
            "description": "The teams that have rostered the player",
            "items": {
              "$ref": "#/components/schemas/PlayerTeam"
            }
          }
        }
      },
      "PlayerTeam": {
        "type": "object",
        "properties": {
          "teamID": {
            "type": "string",
            "description": "The team's ID"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the player is actively on the team. Non-active players either changed teams or are practice players."
          },
          "year": {
            "type": "integer",
            "description": "The year that the player was rostered on the team"
          },
          "jerseyNumber": {
            "type": "string",
            "description": "The player's number on the team. This is a string to allow both \"0\" and \"00\""
          }
        }
      },
      "GameList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Game"
            }
          }
        }
      },
      "Game": {
        "type": "object",
        "properties": {
          "gameID": {
            "type": "string",
            "description": "The game's ID"
          },
          "awayTeamID": {
            "type": "string",
            "description": "The away team's ID"
          },
          "homeTeamID": {
            "type": "string",
            "description": "The home team's ID"
          },
          "awayScore": {
            "type": "integer",
            "description": "The away team's score"
          },
          "homeScore": {
            "type": "integer",
            "description": "The home team's score"
          },
          "status": {
            "type": "string",
            "description": "The game's status. The following statuses are possible: Upcoming, Delayed, First Quarter, End of Q1, Second Quarter, End of Half, Third Quarter, End of Q3, Fourth Quarter, End of Q4, First Overtime, End of OT1, Second Overtime, Final, Postponed, and Abandoned"
          },
          "startTimestamp": {
            "type": "string",
            "format": "date-time",
            "description": "The games's start time with accurate time offset"
          },
          "startTimezone": {
            "type": "string",
            "description": "The timezone where the game is played"
          },
          "streamingURL": {
            "type": "string",
            "description": "The URL for streaming. Usually watchufatv but could be FS2."
          },
          "updateTimestamp": {
            "type": "string",
            "format": "date-time",
            "description": "When any game stat was last updated including player statistics"
          },
          "week": {
            "type": "string",
            "description": "The game's week"
          }
        }
      },
      "GameEvents": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "object"
          },
          "data": {
            "type": "object",
            "properties": {
              "homeEvents": {
                "type": "array",
                "description": "The events as recorded by the home team",
                "items": {
                  "$ref": "#/components/schemas/GameEvent"
                }
              },
              "awayEvents": {
                "type": "array",
                "description": "The events as recorded by the away team",
                "items": {
                  "$ref": "#/components/schemas/GameEvent"
                }
              }
            }
          }
        }
      },
      "GameEvent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "integer",
            "description": "The type of event"
          },
          "line": {
            "type": "array",
            "description": "The players on the line for this event",
            "items": {
              "type": "string"
            }
          },
          "time": {
            "type": "integer",
            "description": "The time of the event"
          }
        }
      },
      "PlayerGameStatsList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlayerGameStats"
            }
          }
        }
      },
      "PlayerGameStats": {
        "type": "object",
        "properties": {
          "player": {
            "type": "object",
            "properties": {
              "playerID": {
                "type": "string",
                "description": "The player's ID"
              },
              "firstName": {
                "type": "string",
                "description": "The player's first name"
              },
              "lastName": {
                "type": "string",
                "description": "The player's last name"
              }
            }
          },
          "jerseyNumber": {
            "type": "string",
            "description": "The player's jersey number"
          },
          "teamID": {
            "type": "string",
            "description": "The player's teamID"
          },
          "assists": {
            "type": "integer",
            "description": "The number of assists in the game by the player"
          },
          "goals": {
            "type": "integer",
            "description": "The number of goals in the game by the player"
          },
          "hockeyAssists": {
            "type": "integer",
            "description": "The number of hockey assists in the game by the player"
          },
          "completions": {
            "type": "integer",
            "description": "The number of completed throws in the game by the player"
          },
          "throwAttempts": {
            "type": "integer",
            "description": "The number of attempted throws in the game by the player"
          },
          "throwaways": {
            "type": "integer",
            "description": "The number of throwaways in the game by the player"
          },
          "stalls": {
            "type": "integer",
            "description": "The number of times the player was stalled in the game"
          },
          "callahansThrown": {
            "type": "integer",
            "description": "The number of callahans thrown in the game by the player. For calculating fantasy, its important to note that the player also gets a throwaway for each callahan thrown"
          },
          "yardsReceived": {
            "type": "integer",
            "description": "The number of receiver yards gained during the game by the player. This is purely in the vertical direction. Horizontal yards are not included."
          },
          "yardsThrown": {
            "type": "integer",
            "description": "The number of yards thrown during the game by the player. This is purely in the vertical direction. Horizontal yards are not included."
          },
          "hucksAttempted": {
            "type": "integer",
            "description": "The number of hucks attempted in the game by the player. A huck is any throw more than 40 yards vertically down the field."
          },
          "hucksCompleted": {
            "type": "integer",
            "description": "The number of hucks completed in the game by the player. A huck is any throw more than 40 yards vertically down the field."
          },
          "catches": {
            "type": "integer",
            "description": "The number of catches in the game by the player"
          },
          "drops": {
            "type": "integer",
            "description": "The number of drops in the game by the player"
          },
          "blocks": {
            "type": "integer",
            "description": "The number of blocks in the game by the player"
          },
          "callahans": {
            "type": "integer",
            "description": "The number of callahans caught in the game by the player. For calculating fantasy, its important to note that the player also gets a goal and block for each callahan."
          },
          "pulls": {
            "type": "integer",
            "description": "The number of pulls thrown in the game by the player"
          },
          "obPulls": {
            "type": "integer",
            "description": "The number of out of bounds pulls thrown in the game by the player"
          },
          "recordedPulls": {
            "type": "integer",
            "description": "The number of pulls thrown in the game by the player where hang time was recorded"
          },
          "recordedPullsHangtime": {
            "type": "integer",
            "description": "The total pull hangtime in milliseconds for the player. Divide by recordedPulls to get average hangtime."
          },
          "oPointsPlayed": {
            "type": "integer",
            "description": "The number of offensive points played during the game by the player"
          },
          "oPointsScored": {
            "type": "integer",
            "description": "The number of offensive points scored during the game while the player was on the line"
          },
          "dPointsPlayed": {
            "type": "integer",
            "description": "The number of defensive points played during the game by the player"
          },
          "dPointsScored": {
            "type": "integer",
            "description": "The number of defensive points scored during the game while the player was on the line"
          },
          "secondsPlayed": {
            "type": "integer",
            "description": "The number of seconds on the field by the player"
          },
          "oOpportunities": {
            "type": "integer",
            "description": "The number of distinct times the player was on offense"
          },
          "oOpportunityScores": {
            "type": "integer",
            "description": "The number of times the team scored while the player was on offense"
          },
          "dOpportunities": {
            "type": "integer",
            "description": "The number of distinct times the player was on defense"
          },
          "dOpportunityStops": {
            "type": "integer",
            "description": "The number of times the team stopped the opposing team while the player was on defense"
          }
        }
      },
      "PlayerStatsList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlayerStats"
            }
          }
        }
      },
      "PlayerStats": {
        "type": "object",
        "properties": {
          "player": {
            "type": "object",
            "properties": {
              "playerID": {
                "type": "string",
                "description": "The player's ID"
              },
              "firstName": {
                "type": "string",
                "description": "The player's first name"
              },
              "lastName": {
                "type": "string",
                "description": "The player's last name"
              }
            }
          },
          "year": {
            "type": "integer",
            "description": "The year the stats were recorded"
          },
          "assists": {
            "type": "integer",
            "description": "The number of assists in the year by the player"
          },
          "goals": {
            "type": "integer",
            "description": "The number of goals in the year by the player"
          },
          "hockeyAssists": {
            "type": "integer",
            "description": "The number of hockey assists in the year by the player"
          },
          "completions": {
            "type": "integer",
            "description": "The number of completed throws in the year by the player"
          },
          "throwAttempts": {
            "type": "integer",
            "description": "The number of attempted throws in the year by the player"
          },
          "throwaways": {
            "type": "integer",
            "description": "The number of throwaways in the year by the player"
          },
          "stalls": {
            "type": "integer",
            "description": "The number of times the player was stalled in the year"
          },
          "callahansThrown": {
            "type": "integer",
            "description": "The number of callahans thrown in the year by the player. For calculating fantasy, its important to note that the player also gets a throwaway for each callahan thrown"
          },
          "yardsReceived": {
            "type": "integer",
            "description": "The number of receiver yards gained during the year by the player. This is purely in the vertical direction. Horizontal yards are not included."
          },
          "yardsThrown": {
            "type": "integer",
            "description": "The number of yards thrown during the year by the player. This is purely in the vertical direction. Horizontal yards are not included."
          },
          "hucksAttempted": {
            "type": "integer",
            "description": "The number of hucks attempted in the year by the player. A huck is any throw more than 40 yards vertically down the field."
          },
          "hucksCompleted": {
            "type": "integer",
            "description": "The number of hucks completed in the year by the player. A huck is any throw more than 40 yards vertically down the field."
          },
          "catches": {
            "type": "integer",
            "description": "The number of catches in the year by the player"
          },
          "drops": {
            "type": "integer",
            "description": "The number of drops in the year by the player"
          },
          "blocks": {
            "type": "integer",
            "description": "The number of blocks in the year by the player"
          },
          "callahans": {
            "type": "integer",
            "description": "The number of callahans caught in the year by the player. For calculating fantasy, its important to note that the player also gets a goal and block for each callahan."
          },
          "pulls": {
            "type": "integer",
            "description": "The number of pulls thrown in the year by the player"
          },
          "obPulls": {
            "type": "integer",
            "description": "The number of out of bounds pulls thrown in the year by the player"
          },
          "recordedPulls": {
            "type": "integer",
            "description": "The number of pulls thrown in the year by the player where hang time was recorded"
          },
          "recordedPullsHangtime": {
            "type": "integer",
            "description": "The total pull hangtime in milliseconds for the player. Divide by recordedPulls to get average hangtime."
          },
          "oPointsPlayed": {
            "type": "integer",
            "description": "The number of offensive points played during the year by the player"
          },
          "oPointsScored": {
            "type": "integer",
            "description": "The number of offensive points scored during the year while the player was on the line"
          },
          "dPointsPlayed": {
            "type": "integer",
            "description": "The number of defensive points played during the year by the player"
          },
          "dPointsScored": {
            "type": "integer",
            "description": "The number of defensive points scored during the year while the player was on the line"
          },
          "secondsPlayed": {
            "type": "integer",
            "description": "The number of seconds on the field by the player"
          },
          "oOpportunities": {
            "type": "integer",
            "description": "The number of distinct times the player was on offense"
          },
          "oOpportunityScores": {
            "type": "integer",
            "description": "The number of times the team scored while the player was on offense"
          },
          "dOpportunities": {
            "type": "integer",
            "description": "The number of distinct times the player was on defense"
          },
          "dOpportunityStops": {
            "type": "integer",
            "description": "The number of times the team stopped the opposing team while the player was on defense"
          }
        }
      }
    }
  }
}
